/*Page de css*/

body
{
    background-image: url("img/fond.jpg");
	background-attachment: fixed;
	background-size: cover;
}

header h2
{

}

/* Navigation */

nav ul
{
	list-style-type: none;
}

nav li
{
	display: inline-block;
	margin-right: 20px;
}

nav a
{
	font-size: 1.5em;
	color: black;
}

nav a:visited
{
	color: black;
}

article
{
    font-size: 1.1em; /* Paragraphes de 14 pixels */
	font-family: Georgia;
}
